<section>
    <div class="container">
        <div class="container-latestPost">
            <p>Most popular</p>
            <h1>Stay up to date with the latest news about your career</h1>
            <div class="container-latestPost-content">
                <div class="card" style="width: 18rem; height: 300px;">
                    <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5>How to answer the tough interview questions?</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: 300px;">
                    <img src="https://image.freepik.com/free-photo/female-hand-typing-keyboard-laptop_1150-15740.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Five Way Working from Home Can Save your life</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: 300px;">
                    <img src="https://th.bing.com/th/id/R.7e11c4e38df8c1264c1b83b3991a47c1?rik=LIqKrZXOtNt5FA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fb%2f9%2f3%2f1222498-top-adventure-wallpapers-2739x1829-for-full-hd.jpg&ehk=TPv4%2fLMJf1Io9AQvOI9aK4uknWcb52oz5g0RTdOq0AI%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">The Strangeset Adventure in team building</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<body>
    <section class="title-NewsCareer">
        <h1>Career-News</h1>
    </section>

    <div class="News-Content">
        <div class="card-News">
            <!-- @card-body -->
            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

        </div>

        <div class="card-News">
            <!-- @card-body -->
            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

            <div class="card " style="width: 18rem; height: 400px;">
                <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">How to answer the tough interview questions</h5>
                  <hr>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero deserunt exercitationem quos, eius commodi?</p>
                </div>
            </div>

        </div>

    </div>
</body>

<div class="footer-links">
  <section class="footer">
      <ul>
        <li>copyright  &copy;2021 professional,Co.LTD</li>
        <li>Home</li>
        <li>Login</li>
        <li>Register</li>
      </ul>
    <div class="footer-social">
      <ul>
        <li><img src="../../../assets/socials/facebook.svg" alt="Facebook"></li>
        <li><img src="../../../assets/socials/instagram.svg" alt="Instagram"></li>
        <li><img src="../../../assets/socials/twitter.svg" alt="Twitter"></li>
      </ul>
    </div>
  </section>
</div>