<section>
    <div class="container">
        <div class="container-latestPost">
            <p>Most popular</p>
            <h1>Stay up to date with the latest news about your career</h1>
            <div class="container-latestPost-content">
                <div class="card" (click)="clickDetail('123')" style="width: 18rem; height: 300px;">
                    <img src="https://ichef.bbci.co.uk/images/ic/1920x1080/p0643c3v.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5>How to answer the tough interview questions?</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: 300px;">
                    <img src="https://image.freepik.com/free-photo/female-hand-typing-keyboard-laptop_1150-15740.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Five Way Working from Home Can Save your life</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>

                <div class="card" style="width: 18rem; height: 300px;">
                    <img src="https://th.bing.com/th/id/R.7e11c4e38df8c1264c1b83b3991a47c1?rik=LIqKrZXOtNt5FA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fb%2f9%2f3%2f1222498-top-adventure-wallpapers-2739x1829-for-full-hd.jpg&ehk=TPv4%2fLMJf1Io9AQvOI9aK4uknWcb52oz5g0RTdOq0AI%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">The Strangeset Adventure in team building</h5>
                      <h6>Editor: <span>Steven Kien</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="articles">
  <h1>See more latest articles from us</h1>

  <div class="contents">
    <div class="card" *ngFor="let a of articles" (click)="clickDetail(a.id)" >
      <div class="card-image">
        <img src="{{a.image}}" alt="Image">
      </div>
      <div class="card-content">
        <h4>{{a.title}} {{a.id}}</h4>
        <p>{{a.content}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, reprehenderit in? Facilis accusantium aliquid sequi, eius itaque porro consectetur aliquam veniam corporis qui nobis cumque, quo magni tenetur ratione natus.</p>
        <h5>Editor: <span>{{a.userId}}</span></h5>
      </div>
    </div>
  
  </div>
</section>
