<section>
    <div class="container">
        <div class="container-latestPost">
            <p>Most popular</p>
            <h1>Stay up to date with the latest news about your career</h1>
            <div class="container-latestPost-content">
                <div class="card" (click)="clickDetail(p.id)" style="width: 18rem; height: 300px;" *ngFor="let p of popular">
                    <img src="{{p.image}}" class="card-img-top" alt="image of article">
                    <div class="card-body">
                      <h5>{{p.title}}</h5>
                      <h6>Publish on: <span>{{p.createdDate}}</span></h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="articles">
  <h1>See more latest articles from us</h1>

  <div class="contents">
    <div class="card" *ngFor="let a of articles" (click)="clickDetail(a.id)" >
      <div class="card-image">
        <img src="{{a.image}}" alt="Image">
      </div>
      <div class="card-content">
        <h4>{{a.title}}</h4>
        <p>{{a.content}}</p>
        <h5>On: <span>{{a.createdDate}}</span></h5>
      </div>
    </div>
  
  </div>
</section>
