@import "../../../styles.scss";

section{
   width: 100%;
   height: 100%; 
   background-color: #24292f;
}

.container{
    padding-top: 80px;
    width: 100%;
    height: 650px;
    background-color: #24292f;
    display: flex;
    align-items: center;

    &-latestPost {
        width: 60%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 21%;
        box-shadow: 0px 1px 6px 0px #d8dce2;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: 5px;

        p {
            padding-left: 45%;
            padding-top: 10px;
            color: #377D39;
            font-weight: bold;
            cursor: default;
        }

        p {
            font-size: 1.3rem;
            padding: 10px;
            text-align: center;
        }

        h1 {
            font-size: 2rem;
            text-align: center;
            font-family: 'Nunito';
            text-transform: uppercase;
            font-weight: bold;
        }

        &-content {
            display: flex;
            justify-content: space-evenly;

            .card {
                margin: 6px;
                margin-top: 50px;
                overflow: hidden;
                border: 2px solid green;
                border-radius: 5px;

                img {
                    height: 180px;
                    transform: scale(1);
                    transition: all 0.5s;
                }

                &:hover {
                    cursor: pointer;
                    img {
                        transform: scale(1.2);
                    }
                }

                h5 {
                    font-weight: bold;
                }

                h6 {
                    padding-top: 8px;
                }
            }
        }
    }
}

.articles {
    padding-top: 0;
    color:#24292f;
    h1 {
        color:rgb(255, 255, 255);
        font-family: "Nunito";
        font-weight: bold;
        font-size: 1.7rem;
        text-transform: uppercase;
        &::after {
            position: absolute;
            content: "";
            border-bottom: 5px solid #377D39;
            height: 5px;
            width: 500px;
            left: 0;
            transform: translateY(27px);
        }
    }

    .card {
        color: #24292f;
        display: grid;
        grid-template-columns: 30% 70%;
        place-items: center;

        &-image {
            width: 100%;
            img {
                // width: 200px;
                height: 150px;
                border-radius: 5px;
            }
        }
    }
}
