.login {
    padding-top: 30px;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    place-items: center;

    &-logo {
        display: grid;
        place-items: center;
        margin-bottom: 30px;
        .logo {
            width: 30px;
            height: 30px;
        }
        h1 {
            margin-top: 5px;
            font-weight: 600;
            font-size: 1.3rem;
        }
    }
    
    &-container {
        display: flex;
        border: 1px solid rgb(160, 153, 153);
        background-color: #f6f8fa;
        border-radius: 10px;
        width: 350px;
        // height: 228px;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .form-group {
            display: flex;
            flex-direction: column;
            margin-top: 5px;
        }

        .form-control {
            margin-top: 8px;
        }

        .btn {
            width: 100%;
            margin-top: 20px;
        }
    }

    &-registerLink {
        margin-top: 20px;
        border: 1px solid rgb(160, 153, 153);
        border-radius: 5px;
        background-color: #f6f8fa;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        h4 {
            font-size: 1rem;
        }

        a {
            text-decoration: none;
            &:hover {
                color: #2ea44f;
            }
        }
    }
}