<div class="login">
    <div class="login-logo">
        <img src="../../../assets/broadcast.svg" class="logo" alt="logo">
        <h1>Join Our Community Now</h1>
    </div>
    <div class="login-container">
        <form action="" [formGroup]="formRegister" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label  for="fullname">Full Name</label>
                <input  type="text" autocomplete="off" name="fullname" id="fullname" formControlName="fullname">
            </div>

            <div class="form-group">
                <label  for="fullname">Email Address</label>
                <input  type="email" placeholder="example@gmail.com" autocomplete="off" name="email" id="email" formControlName="email">
            </div>

            <div class="form-group">
                <label  for="fullname">Skills:</label>
                <input  type="text" placeholder="Example: UX/UI Designer" autocomplete="off" name="talents" id="talent" formControlName="talent">
            </div>

            
            <div class="form-group">
                <label  for="fullname">Experience</label>
                <input  type="text" placeholder="Example: Junior,Senior,Expert" autocomplete="off" name="level" id="level" formControlName="level">
            </div>

            <div class="form-group">
                <label  for="fullname">What you are interested in:</label>
                <input  type="text" placeholder="Example: Reading book" autocomplete="off" name="interest" id="description" formControlName="description">
            </div>

            <div class="form-group">
                <label  for="username">Username</label>
                <input type="text" autocomplete="off" name="username" id="username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input autocomplete="off" type="password" name="password" id="password" formControlName="password">
            </div>
            <button class="form-control" class="btn">Register Now</button>
        </form>
    </div>
    <div class="login-registerLink">
        <h4>Already have an account?</h4>
        <a routerLink="/login" routerLinkActive="header-active">Login Now</a>
    </div>
</div>