<section class="hero">
    <div class="hero-content">
        <h1>Meet and Connect with Professional People</h1>
        <p>
            We are building a community where professional people can share, learn, and contribute back to society that it will have a great impace for the next generation.
        </p>
        <div class="hero-content-cta">
            <input class="input" type="text" placeholder="Enter your email">
            <button class="btn" routerLink="/login" routerLinkActive="header-active">Join with Us</button>
        </div>
    </div>
    <div class="hero-image">
        <img class="image" src="./../../../assets/hero_image.jpg" alt="hero_image">
    </div>
</section>

<section class="features">
    <div class="features-image">
        <img src="./../../../assets/technology.jpg" alt="Image">
        <img src="./../../../assets/opportunity.jpg" alt="Image">
        <img src="./../../../assets/news.jpg" alt="Image">
        <img src="./../../../assets/future.jpg" alt="Image">
    </div>
    <div class="features-content">
        <h1>Get a useful information</h1>
        <ul>
            <li>Build new connections</li>
            <li>Salary statistics</li>
            <li>Job opportunity</li>
            <li>The trend of future jobs</li>
            <li>New update on career</li>
        </ul>
    </div>

</section>

<section class="partners">
    <div class="partners-header">
      <h1 >Our Partners:</h1>
    </div>
    <carousel class="partners-carousel">
        <slide class="partners-carousel-item">
          <img class="img" src="../../../assets/hero_image.jpg" alt="first slide" >
          <h3>The Apple Group</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </slide>
        <slide class="partners-carousel-item">
          <img src="../../../assets/opportunity.jpg" alt="second slide">
          <h3>Phnom Penh City</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </slide>
        <slide class="partners-carousel-item">
          <img src="../../../assets/technology.jpg" alt="third slide">
          <h3>The Metaverse</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </slide>
      </carousel>
</section>

<section class="testimonails">
  <div class="container">
    <div class="testimonails-header">
      <h1 >Testimonails:</h1>
    </div>
    <div class="testimonail">
      <div class="testimonail-item">
        <div class="testimonail-item-img">
          <img src="https://th.bing.com/th/id/OIP.dOrODkYqpL-_LABEhXFS6wHaE7?w=281&h=187&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="profile picture">
        </div>
        <div class="testimonail-item-title">
          <h4>Bora Kim, Leturer</h4>
          <p>This is place for finding professional people in Cambodia</p>
        </div>
      </div>
    
      <div class="testimonail-item">
        <div class="testimonail-item-img">
          <img src="https://th.bing.com/th/id/OIP.K-FNDxzycxXeQs9HNqQaOQHaHg?w=174&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="">
        </div>
        <div class="testimonail-item-title">
          <h4>Bohpa Ra, Bussiness Owner</h4>
          <p>When I need the employee, I always think of professional first.</p>
        </div>
      </div>
    
      <div class="testimonail-item">
        <div class="testimonail-item-img">
          <img src="https://th.bing.com/th/id/OIP.DmkY_bhMgcSsgcuRSC1_8QHaE7?w=232&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="profile picture">
        </div>
        <div class="testimonail-item-title">
          <h4>Dara Chann, Website Designer</h4>
          <p>I can find my dream company here</p>
    
        </div>
      </div>
    </div>
  
  </div>
</section>

<div class="footer-links">
<section class="footer">
    <ul>
      <li>copyright  &copy;2021 professional,Co.LTD</li>
      <li><a style="text-decoration: none;" href="/home">Home</a></li>
      <li><a style="text-decoration: none;" href="/login">Login</a></li>
      <li><a style="text-decoration: none;" href="/register">Register</a></li>
    </ul>
  <div class="footer-social">
    <ul>
      <li><img src="../../../assets/socials/facebook.svg" alt="Facebook"></li>
      <li><img src="../../../assets/socials/instagram.svg" alt="Instagram"></li>
      <li><img src="../../../assets/socials/twitter.svg" alt="Twitter"></li>
    </ul>
  </div>
</section>
</div>