.trending {
    padding-top: 80px;

    &-header {
        h3 {
           font-weight: bold;
        }
    }

    &-box {
        padding: 10px;
        justify-content: center;
        border: 1px solid rgb(167, 160, 160);
        width: 350px;
        border-radius: 10px;
        &-img {
            img {
                width: 300px;
                height: 250px;
                border-radius: 8px;
                border: 1px solid green;
            }
        }

        &-desc {

        }

        &-level {

        }

        &-salary {

        }
    }
}