<div class="trending">
    <h1>Where you can see your future!</h1>
    <div class="trending-header">
        <h3>The most paid job in Cambodia in 2022</h3>
    </div>
    <div class="trending-boxes">
        <div class="trending-box">
            <div class="trending-box-img">
                <img src="https://th.bing.com/th/id/OIP.zS3PSBRlY1_P1KSTBGAYAgHaE8?pid=ImgDet&rs=1" alt="Image">
            </div>
            <div class="trending-box-desc">
               <h5><span>Job Title: </span>Software Developer</h5>
               <p><span>Experience: </span> Working with development team on develop, deploy and create new software solution.</p>
            </div>
            <div class="trending-box-level">
                <h5>Junior</h5>
            </div>
            <div class="trending-box-salary">
                <h5>$5000/month</h5>
            </div>
        </div>

        <div class="trending-box">
            <div class="trending-box-img">
                <img src="https://th.bing.com/th/id/OIP.zS3PSBRlY1_P1KSTBGAYAgHaE8?pid=ImgDet&rs=1" alt="Image">
            </div>
            <div class="trending-box-desc">
               <h5><span>Job Title: </span>Software Developer</h5>
               <p><span>Experience: </span> Working with development team on develop, deploy and create new software solution.</p>
            </div>
            <div class="trending-box-level">
                <h5>Junior</h5>
            </div>
            <div class="trending-box-salary">
                <h5>$5000/month</h5>
            </div>
        </div>

        <div class="trending-box">
            <div class="trending-box-img">
                <img src="https://th.bing.com/th/id/OIP.zS3PSBRlY1_P1KSTBGAYAgHaE8?pid=ImgDet&rs=1" alt="Image">
            </div>
            <div class="trending-box-desc">
               <h5><span>Job Title: </span>Software Developer</h5>
               <p><span>Experience: </span> Working with development team on develop, deploy and create new software solution.</p>
            </div>
            <div class="trending-box-level">
                <h5>Junior</h5>
            </div>
            <div class="trending-box-salary">
                <h5>$5000/month</h5>
            </div>
        </div>


        
    </div>
</div>