@import "../../../styles.scss";
.container {
    padding-top: 80px;
    margin: 5px;
    margin: 0 auto;
    padding-bottom: 30px;

    &-form {
        background-color: #F6F8FA;
        border-radius: 10px;
        // padding: 10px;
        margin: 0 auto;
        max-width: 700px;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        border: 2px solid rgb(209, 203, 203);

        h1 {
            padding-top: 8px;
            font-size: 1.5rem;
            font-weight: bold;
            color: green;
        }
        input {
            margin-top: 20px;
            max-width: 500px;

            
            @include breakpoint(medium) {
                width: 500px ;
            }
        }

        textarea {
            margin-top: 20px;
            max-width: 500px;
            height: 150px;

            @include breakpoint(medium) {
                width: 500px ;
            }
        }

        button {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}