@import "../../../styles.scss";

.new {
    margin-top: 200px;
}

.modal-body {

    #textarea {
        @include breakpoint-less(medium) {
            width: 275px;
            height: 200px;
        }
    }
}

.newpost {
    padding-top: 100px;
    max-width: 700px;
    margin: 0 auto;
    cursor: pointer;
    &-owner {
        padding: 20px;
        background-color: aliceblue;
        border-radius: 10px;

        display: grid;
        grid-template-columns: 50px 1fr;

        .post-owner {
            &-profile {
                img {
                    object-fit: cover;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid green;
                }
            }
        }
        &-input {
            display: grid;
            place-items: center;
            align-items: center;
            input {
                width: 400px;
                border-radius: 20px;
                padding: 7px;
                cursor: pointer;

                @include breakpoint-less(medium) {
                    width: 275px;
                }
            }
        }
    }
}


