@import "../../../styles.scss";

.new {
    margin-top: 200px;
}

.modal-body {

    #textarea {
        @include breakpoint-less(medium) {
            width: 275px;
            height: 200px;
        }
    }
}

.newpost {
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;
    &-owner {
        padding: 10px;
        background-color: aliceblue;
        border-radius: 10px;

        &-input {
            display: grid;
            place-items: center;
            align-items: center;
            input {
                width: 400px;

                @include breakpoint-less(medium) {
                    width: 275px;
                }
            }

        }
    }
}

.posts {
    max-width: 500px;
    margin: 0 auto;
}

.post {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 10px;
    border: 2px solid gainsboro;
    margin-top: 20px;
    padding: 10px;

    &-owner {
        // display: flex;

        &-profile {
            display: flex;
            align-items: center;
            // justify-content: space-around;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid green;
            }
            h5 {
                margin-left: 15px;
            }

            h6 {
                margin-left: 15px;
            }
        }

    }

    &-content {
        padding: 5px;

    }

    &-reaction {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid black;

        a {
            display: grid;
            place-items: center;
            color: black;
            text-decoration: none;
            cursor: pointer;
            svg {
                margin-right: 4px;
                font-size: 1.5rem;
            }

            // &:hover {
            //     color: green;
            //     transition: all 150ms ease-in-out;
            //     svg {
            //         color: green;
            //     }
            // }
        }


    }

    &-commenter {
        transition: all 300ms ease-in-out;
        margin: 10px;
        display: flex;
        img {
            object-fit: cover;
            border: 1px solid #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        input {
            width: 100%;
            margin-left: 15px;
        }
    }

    &-comment {
        margin-top: 10px;
        padding: 0 10px;
        display: flex;
        &-profile{
            display: flex;
            // flex-direction: column;
            img {
                object-fit: cover;
                border: 1px solid #fff;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            p {
                padding-left: 10px;
            }
        }

        &-content {
            h5 {
                font-weight: bold;
                font-size: 1rem;
            }
            background-color: #fff;
            margin: 0px 0px 25px;
            padding: 10px;
            border-radius: 10px;

            p {
                padding-top: 2px;
                font-size: 0.95rem;
            }

        }
    }
}