@import "../../../styles.scss";

.new {
    margin-top: 200px;
}

.modal-body {

    #textarea {
        @include breakpoint-less(medium) {
            width: 275px;
            height: 200px;
        }
    }
}

.newpost {
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;
    &-owner {
        padding: 10px;
        background-color: aliceblue;
        border-radius: 10px;

        &-input {
            display: grid;
            place-items: center;
            align-items: center;
            input {
                width: 400px;
                border-radius: 20px;
                padding: 7px;
                cursor: pointer;

                @include breakpoint-less(medium) {
                    width: 275px;
                }
            }

        }
    }
}

.posts {
    max-width: 500px;
    margin: 0 auto;
}

.post {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 10px;
    border: 2px solid gainsboro;
    margin-top: 20px;
    padding: 10px;

    &-owner {
        // display: flex;

        &-profile {
            display: flex;
            align-items: center;
            // justify-content: space-around;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid green;
            }
            h5 {
                margin-left: 15px;
            }

            h6 {
                margin-left: 15px;
            }
        }

    }

    &-content {
        padding: 5px;

    }

    &-reaction {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid black;

        a {
            display: grid;
            place-items: center;
            color: black;
            text-decoration: none;
            cursor: pointer;
            svg {
                margin-right: 4px;
                font-size: 1.5rem;
            }

            // &:hover {
            //     color: green;
            //     transition: all 150ms ease-in-out;
            //     svg {
            //         color: green;
            //     }
            // }
        }


    }
}