<ngx-skeleton-loader *ngIf="loading"
    count="7"
    [theme]="{
        'display': 'grid',
        'grid-template-column': '1fr',
        'margin': '0 auto',
        'width': '700px',
        'margin-top': '20px',
      'border-radius': '5px',
      height: '100px',
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader>

<div *ngIf="!loading" class="newpost" (click)="openModal(template)">
    <div class="newpost-owner">
        <div class="post-owner-profile">
            <img src="{{user.profile}}" alt="user-profile">
        </div>
        <div class="newpost-owner-input">
            <input type="text" placeholder="What do you want to share?">
        </div>
    </div>
    <ng-template #template class="new">
        <div class="modal-header" style=" position: relative; z-index: 30000; margin: 15px;" >
          <h4 class="modal-title pull-left">Create new Post</h4>
          <a type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </a>
        </div>
        <div class="modal-body" style="display: grid; place-items: center;">
          <form [formGroup]="formPost" (ngSubmit)="OnClickNewPost()">
            <textarea style="margin-left: 40px; height: 10em; width: 80%;" formControlName="content"
            id="textarea" class="modal-body-content" name="content" id="content" cols="50" rows="10" placeholder="Share what you thouhgt to the world now"></textarea>
          </form>
          <button (click)="OnClickNewPost()" style="font-family: inherit; margin: 5px;">Post Now</button>
        </div>
      </ng-template>
</div>


<app-post [posts]="posts"></app-post>