 section{
     padding-top: 100px;
     width: 70%;
     padding-left: 10%;
     margin-left: 12%;
 }

 .Background-of-form{
     width: 90%;
     height: 600px;
     background-color: antiquewhite;
     box-shadow: 2px 5px 10px black;
     border-radius: 10px;
 }

 .mb-3{
     margin-left: 30px;
     margin-right: 30px;
     padding-top: 30px;
 }

 textarea {
     width: 720px;
     height: 300px;
 }
 