<div class="container">
  <form action="" class="container-form" [formGroup]="formCreateNews" (ngSubmit)="onCreateNews()">
    <h1>Publish New Artitcle</h1>
    <input type="text" placeholder="News Title" name="title" formControlName="title">
    <input type="text" name="" id="" placeholder="Image" name="image" formControlName="image">
    <textarea name="content" id="" cols="30" rows="10" placeholder="News content" formControlName="content"></textarea>
   <button>Post Now</button>
  </form>
</div>