<section>
    <div class="Background-of-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">News Title</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="News-Title">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">News Heading</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Heading">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Images</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Image">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">News Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Content"></textarea>
          </div>
    </div>
</section>