.button{
    padding-top: 90px;
    margin-left: 10%;
}

button{
    width: 130px;
}

.Table-added-news{
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    background-color: whitesmoke ;
}

.table{
    width: 90%;
    align-content: center;
    margin-left: 5.5%;
}