

<section>
    <div class="button">
        <a routerLink="/Form-BO-Newscareer"><button type="button" class="btn btn-success">Post News</button></a>
    </div>

    <div class="Table-added-news">
        <div class="table">
            <table class="table caption-top">
                <caption>List of Posted News</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">News Title</th>
                    <th scope="col">News Heading</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of articles;let indexOfelement=index;">
                    <th scope="row">{{indexOfelement + 1}}</th>
                    <td>{{a.title}}</td>
                    <td>{{a.content}}</td>
                    <td>Edit</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>