<section>
    <div class="button">
        <a routerLink="/Form-BO-Newscareer"><button id="button" type="button" class="btn btn-success">Post News</button></a>
    </div>

    <ngx-skeleton-loader *ngIf="loading"
    count="7"
    [theme]="{
        'display': 'grid',
        'grid-template-column': '1fr',
        'margin': '0 auto',
        'width': '700px',
        'margin-top': '20px',
      'border-radius': '5px',
      height: '100px',
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader>

    <div class="Table-added-news">
        <div class="table">
            <table class="table caption-top">
                <caption>List of Posted News</caption>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">News Title</th>
                    <th scope="col">News Heading</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of articles;let indexOfelement=index;">
                    <th scope="row">{{indexOfelement + 1}}</th>
                    <td><p id="title" >{{a.title}}</p></td>
                    <td><p id="content">{{a.content}}</p></td>
                    <td><a (click)="onDeleteNews(a.id)" style="color: red;">Delete</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>