<div class="profile">
    <div class="profile-container">
        <div class="profile-image">
            <img src="../../../assets/hero_image.jpg" alt="profile picuture">
        </div>
        <div class="profile-info">
            <h4>Dial Kevin</h4>
            <h3>Working as: <span>developer</span></h3>
            <h3>Education: <span>Royal University of Phnom Penh</span></h3>
            <h3>Experience: <span>10 years+ with UX/UI.</span></h3>
            <h3>Email: <span>visalchrin@gmail.com</span></h3>
            <h3>Interested in: <span>Reading and music lover</span></h3>
            <h3>Work at: <span>Bank of America</span></h3>
        </div>
    </div>

</div>
<app-post></app-post>
