@import "../../../styles.scss";

.profile {

    padding-top: 80px;
    &-container {
        padding: 10px;
        max-width: 700px;
        margin: 0 auto;
        border: 2px solid #fff;
        box-shadow: 0px 1px 6px 0px #d8dce2;
        border-radius: 10px;
        display: grid;
        // grid-template-columns: repeat(2,1fr);
        grid-template-columns: 30% 70%;
        gap: 10px;
        place-items: center;

        @include breakpoint-less(medium) {
            grid-template-columns: 1fr;
        }
    }

    &-image {
        img {
            width: 115px;
            height: 110px;
            border: 1px solid #fff;
            border-radius: 5px;

            @include breakpoint-less(medium) {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid green;
                box-shadow: 4px 2px 3px rgba($color: #000000, $alpha: 0.5);
            }
        }

    }

    &-info {
        @include breakpoint-less(medium) {
            text-align: center;
        }
        
        h4 {
            font-weight: 700;
            font-family: 'Nunito';
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 10px;
            
        }

        h3 {
            font-size: 1rem;
            color: black;
            font-weight: 700;
            color: #727272;
            span {
                font-size: 1rem;
                font-weight: 300;
            }
        }

        p {
            margin: 15px 0px;
            max-width: 400px;
            font-weight: bold;
            color: #727272;
            span {
                color: #727272;
                font-weight: normal;
            }

        }

        h5 {
            margin-top: 10px;
            color: black;
            font-weight: bold;
            color: #727272;
        }
    }
}