<div class="profile">
    <ngx-skeleton-loader *ngIf="loading"
    count="7"
    [theme]="{
        'display': 'grid',
        'grid-template-column': '1fr',
        'margin': '0 auto',
        'width': '700px',
        'margin-top': '20px',
      'border-radius': '5px',
      height: '100px',
      border: '1px solid white'
    }"
  ></ngx-skeleton-loader>

    <div *ngIf="!loading" class="profile-container">
        <div class="profile-image">
            <img src="../../../assets/hero_image.jpg" alt="profile picuture">
        </div>
        <div class="profile-info">
            <h4>{{user.fullname}}</h4>
            <h3>Talents: <span>{{user.skill}}</span></h3>
            <p>Interested in: <span>{{user.description}}</span></p>
            <h5>Followers: <span>{{numFollower}} people</span></h5>
            <h5>Contact: <span>{{user.email}}</span></h5>
            <button *ngIf="!isFollowed && !isLoginUser" (click)="onClickFollow()">Follow</button>
            <button *ngIf="isFollowed && !isLoginUser" (click)="onClickUnfollow()" style="background-color: red; margin-left: 10px;">UnFollow</button>
        </div>
    </div>
</div>
<app-post [posts]="posts"></app-post>
