.container {
  width: 600px;
  height: auto;
  position: relative;
  top: 110px;
  right: 300px;
}
.image1 {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
  position: relative;
  right: 250px;
  top: 20px;
  cursor: pointer;
}
.btn1 {
  width: 120px;
  height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  left: 430px;
  bottom: 120px;
  text-align: center;
  border-radius: 20px;
}
.btn3 {
  height: 30px;
  position: relative;
  right: 50px;
  bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20px;
}
.form {
  background-color: whitesmoke;
  border-radius: 15px;
}
.text1 {
  cursor: pointer;
  position: relative;
  bottom: 45px;
  left: 90px;
  width: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list-group-flush {
  position: relative;
  margin-bottom: -130px;
}
.text2 {
  font-style: italic;
  color: blue;
  font-size: 15px;
  width: 180px;
  position: relative;
  bottom: 20px;
}
.line {
  width: 500px;
  color: black;
  padding: 1px;
  position: relative;
  bottom: 120px;
  left: 75px;
}
.form1 {
  width: 400px;
  position: relative;
  bottom: 690px;
  left: 900px;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 15px;
}

.text3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: unset;
}

.image2 {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.btn2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  position: relative;
  left: 220px;
  bottom: 100px;
}
