<div class="container">
    <div class="profile">
        <div class="profile-container">
            <div class="profile-image">
                <img src="../../../assets/hero_image.jpg" alt="profile picuture">
            </div>
            <div class="profile-info">
                <h4>Dial Kevin</h4>
                <h3>Talents: <span> Web developer</span></h3>
                <p>Hello, I am in love with technology and enjoy to be here. Everthing happens by desing not by accident.</p>
                <h5>Contact: <span>visalchrin@gmail.com</span></h5>
            </div>
        </div>
    </div>
    
    <div class="profile">
        <div class="profile-container">
            <div class="profile-image">
                <img src="../../../assets/hero_image.jpg" alt="profile picuture">
            </div>
            <div class="profile-info">
                <h4>Dial Kevin</h4>
                <h3>Talents: <span> Web developer</span></h3>
                <p>Hello, I am in love with technology and enjoy to be here. Everthing happens by desing not by accident.</p>
                <h5>Contact: <span>visalchrin@gmail.com</span></h5>
            </div>
        </div>
    </div>
    
    <div class="profile">
        <div class="profile-container">
            <div class="profile-image">
                <img src="../../../assets/hero_image.jpg" alt="profile picuture">
            </div>
            <div class="profile-info">
                <h4>Dial Kevin</h4>
                <h3>Talents: <span> Web developer</span></h3>
                <p>Hello, I am in love with technology and enjoy to be here. Everthing happens by desing not by accident.</p>
                <h5>Contact: <span>visalchrin@gmail.com</span></h5>
            </div>
        </div>
    </div>
</div>