@import "../../../styles.scss";

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 10px 15px 20px rgba($color: #000000, $alpha: 0.2);
  z-index: 20;



  &-active {
    border-bottom: 2px solid #2188ff;
  }
  @include breakpoint(medium) {
    ul {
      .hide-desktop {
        display: none;
      }
    }
    .hide-desktop {
      display: none;
    }
  }

  @include breakpoint-less(medium) {
    ul {
      li {
        display: none;
      }

      li:last-child {
        margin-left: auto;
      }

      li:first-child {
        display: block;
      }
    }
  }

  &-navbar {
    margin: 0 auto;
    padding: 0 20px;
    background-color: #fff;
    height: 55px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;

    &-item {
      a {
        text-decoration: none;
        color: rgb(82, 74, 74);
        font-weight: 400;
        font-size: 1.2rem;
      }

      a:hover {
        color: green;
        font-weight: 600;
        border-bottom: 2px solid #2188ff;
      }
    }
  }

  .menuBtn {
    width: 30px;
    height: 30px;
  }

  .mobile-menu {
    display: none;
  }

  .show-mobile {
    transition: all 150ms ease-in-out;
    display: block;
    list-style: none;
    padding: 20px;

    @include breakpoint(medium) {
      display: none;
    }
    li {
      margin-top: 10px;
      padding-left: 5px;
      a {
        padding-left: 5px;
      }

      a:hover,
      .active {
        border-bottom: none;
        border-left: 2px solid #2188ff;
      }

      button {
        width: 100%;
      }
    }
  }
}
.form-control {
  position: relative;
  right: 150px;
  width: 300px;
  border-radius: 30px;

}
.btn-primary { //btn search
  color:white;
  position: relative;
  right: 150px;
  width: 60px;
  height: 35px;
  text-align: center;
  margin-right: 30px;
  border-radius: 30px;
}
.header-navbar-item{
  position: relative;
  right: 150px;
  margin-right: 20px;
}
.modal-body{
  width: 1000px;
  height: 500px;
}
.clear{
  position: absolute;
  top: 21px;
  width: 15px;
  height: 15px;
  right: 970px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear::before
{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}
.clear::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}
.card{
  background-color: white;
  position: fixed;
  top: 50px;
  left: 180px;
  width: 400px;
  height: 400px;
  z-index: 2;
  border-radius: 10px;
}
.img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
  position: relative;
  right: 150px;
  top: 30px;
  cursor: pointer;
  margin-bottom: -10px;


}
.text{
  position: relative;
  top: 2px;
  left: 100px;
  width: auto;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 14px;

}
.head1{
  position: relative;
  top: 10px;
  left: 10px;
  color: #000000;
  width: 60px;
  font-size: large;
}
.content{
  display: list-item;
  text-decoration: none;
  list-style: none;

}
.btnReg{
  width: 70px;
  height: 35px;
  border-radius: 30px;
}
.content1{
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.a{
  margin-right: 10px;
}
.h2{
  position: relative;
  bottom: 35px;
  left: 5px;
  font-size: large;
}
.topsearch{
  margin-bottom: 10px;
  position: relative;
  top: 250px;
  left: 5px;
}
.line
{
  position: relative;
  top: 100px;
  stroke: 2px;
}
.text1{
  cursor: pointer;
  position: relative;
  left: 10px;
}
.logo{
  width: 40px;
  height: 40px;
  position: relative;
  right: 180px;
  background-color: white;
  border-radius: 30px;
}
.history{
  position: relative;
  left: 40px;
  top: 20px;
}







