<header class="header">
  <form [formGroup]="form">
    <!-- Menu For Desktop -->
    <ul class="header-navbar header-desktop">
      <!-- <li>
        <div form="Form">
          <input
            class="form-control"
            placeholder=" Serch for name and job..."
            formControlName="searchtext"
            [(ngModel)]="gettext"
            autocomplete="off"
            (click)="onClickFocus()"
            (blur)="onClickBlur()"
          />
        </div>
        <span
          class="clear"
          onclick="document.getElementById('mysearch').value = ''"
          (click)="onClickDelete()"
        ></span>
        <div>
          <td>
            <ng-template #template>
              <table class="table table-striped"></table>
            </ng-template>
          </td>
        </div>
      </li>

      <li>
        <button
          [disabled]="gettext === ''"
          class="btn btn-primary"
          routerLink="/search"
          (click)="onClickSearch()"
        >
          Search
        </button>
      </li> -->

      <!-- <li>
        <img
          class="menuBtn showMobile hide-desktop"
          (click)="onClickShowMenu()"
          src="../../../assets/{{ btn }}.svg"
          alt="close btn"
        />
      </li> -->

      <li class="header-navbar-item">
        <a
          routerLink="/home"
          routerLinkActive="header-active"
          style="margin-left: 40px"
          >Home</a
        >
      </li>
      <li class="header-navbar-item"><a href="">Profile</a></li>
      <li class="header-navbar-item">
        <a routerLink="/feed" routerLinkActive="header-active">Feed</a>
      </li>
      <li class="header-navbar-item"><a href="">Contact</a></li>
      <li class="header-navbar-item">
        <a routerLink="/login" routerLinkActive="header-active">Login</a>
      </li>
      <button
        class="btnReg"
        *ngIf="!showMobileMenu"
        routerLink="/register"
        routerLinkActive="heder-active"
      >
        Register
      </button>
    </ul>
    <!-- Menu For Mobile -->
    <ol
      class="mobile-menu hide-desktop"
      [ngClass]="{ 'show-mobile': showMobileMenu }"
    >
      <li class="header-navbar-item">
        <a (click)="OnNavigate()" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="header-navbar-item">
        <a (click)="OnNavigate()" href="">Community</a>
      </li>
      <li class="header-navbar-item">
        <a (click)="OnNavigate()" href="">Contact Us</a>
      </li>
      <li class="header-navbar-item">
        <a (click)="OnNavigate()" routerLink="/login" routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="header-navbar-item">
        <button
          (click)="OnNavigate()"
          routerLink="/register"
          routerLinkActive="active"
        >
          Register
        </button>
      </li>
    </ol>
  </form>
</header>

<form *ngIf="flag === true">
  <div id="card" class="card">
    <div class="head1" *ngIf="!isShow()">Recent</div>
    <div *ngIf="!isShow()">
      <form class="content1">
        <div *ngFor="let i of hisList">
          <img />
          <a>{{ i.hisList }}</a>
        </div>
        <div class="topsearch">
          <h1 class="h2">Try to search for</h1>
          <li>#</li>
          <div class="text1">
            <li>Elon Musk</li>
            <li>Bill Gate</li>
            <li>Obama</li>
          </div>
        </div>
      </form>
      <hr class="line" />
    </div>
    <div *ngIf="isShow()">
      <ul class="content" *ngFor="let i of getUsers | filter: gettext">
        <div>
          <li>
            <img class="img" (click)="onClickProfile()" src="{{ i.pic }}" />
          </li>
          <li class="text" (click)="onClickProfile()">{{ i.name }}</li>
          <li class="text" (click)="onClickProfile()">{{ i.career }}</li>
        </div>
      </ul>
    </div>
  </div>
</form>
