@import "../../../styles.scss";

.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 10px 15px 20px rgba($color: #000000, $alpha: 0.2);
    z-index: 20;

    &-active {
        border-bottom: 2px solid #2188ff;
    }

    @include breakpoint(medium) {
        ul {
            .hide-desktop {
                display: none;
            }
        }

        .hide-desktop {
            display: none;
        }
    }

    @include breakpoint-less(medium) {
        ul {
            li {
                display: none;
            }

            li:last-child {
                margin-left: auto;
            }

            li:first-child {
                display: block;
            }
        }
    }

    &-navbar {
        margin: 0 auto;
        padding: 0 20px;
        background-color: #fff;
        height: 55px;
        max-width: 900px;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        list-style: none;
        align-items: center;

        &-item {
            a {
                text-decoration: none;
                color: rgb(82, 74, 74);
                font-weight: 400;
                font-size: 1.2rem;
            }

            a:hover {
                color: green;
                font-weight: 600;
                border-bottom: 2px solid #2188ff;
            }
        }
    }


    .menuBtn {
        width: 30px;
        height: 30px;
    }

    .mobile-menu {
        display: none;
    }

    .show-mobile {
        transition: all 150ms ease-in-out;
        display: block;
        list-style: none;
        padding: 20px;

        @include breakpoint(medium) {
            display: none;
        }
        li {
            margin-top: 10px;
            padding-left: 5px;
            a {
                padding-left: 5px;
            }
            
            a:hover, .active {
                border-bottom: none;
                border-left: 2px solid #2188ff;
            }

            button {
                width: 100%;
            }
        }
    }
}