
<header class="header">
    <!-- Menu For Desktop -->
    <ul class="header-navbar header-desktop">
        <li><img class="menuBtn showMobile hide-desktop" (click)="onClickShowMenu()" src="../../../assets/{{btn}}.svg" alt="close btn"></li>
        <li class="header-navbar-item"><a routerLink="/home" routerLinkActive="header-active">Professional</a></li>
        <li class="header-navbar-item"><a href="">Profile</a></li>
        <li class="header-navbar-item"><a routerLink="/feed" routerLinkActive="header-active">Community</a></li>
        <li class="header-navbar-item"><a routerLink="/about-us" routerLinkActive="header-active">Contact Us</a></li>
        <li class="header-navbar-item"><a href="">Contact Us</a></li>
        <li class="header-navbar-item"><a routerLink="/BO-NewsCareer" routerLinkActive="header-active" >BO-News-Career</a></li>
        <li class="header-navbar-item"><a routerLink="/News-Career" routerLinkActive="header-active" >News-Career</a></li>
        <li class="header-navbar-item"><a routerLink="/login" routerLinkActive="header-active" >Login</a></li>
        <button *ngIf="!showMobileMenu" routerLink="/register" routerLinkActive="heder-active" >Register</button>
    </ul>
    <!-- Menu For Mobile -->
    <ol class=" mobile-menu hide-desktop" [ngClass]="{'show-mobile': showMobileMenu}">
        <li class="header-navbar-item"><a (click)="OnNavigate()" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="header-navbar-item"><a (click)="OnNavigate()" routerLink="/feed" routerLinkActive="active">Community</a></li>
        <li class="header-navbar-item"><a (click)="OnNavigate()" routerLink="/News-Career" routerLinkActive="active">News</a></li>
        <li class="header-navbar-item"><a (click)="OnNavigate()" routerLink="/about-us" routerLinkActive="active">Contact Us</a></li>
        <li class="header-navbar-item"><a (click)="OnNavigate()" routerLink="/login" routerLinkActive="active" >Login</a></li>
        <li class="header-navbar-item"><button (click)="OnNavigate()" routerLink="/register" routerLinkActive="active">Register</button></li>
    </ol>
</header>
