<div class="headertrending">
  <img class="imagetrendy" src="./../../../assets/Jobs.png" alt="Job_image">
  <h1 class="header-content"> Top Trending Jobs</h1>
  <p class="headerinfo">If you are planning your career path and want to cultivate sustainable skills employers need and
    want,
    it is important to know the current trends in the job market. These in-demand careers have the most anticipated
    growth rates for the next five years.
    In this article, we list the 4 most in-demand careers with job duties, average salaries and educational
    requirements.</p>
</div>
<div class="trendingjobs">
  <h3> TRENDING JOBS</h3>
  <p> Top 3 Most Needed Jobs</p>
</div>

<div class="box1">
  <p class="box-info">Web Developer</p>
</div>
<div class="box2">
  <h3 class="box-info">Physical Therapy Aide</h3>
</div>
<div class="box3">
  <h3 class="box-info">Financial Advisor</h3>
</div>


<div class="jobinfo">
  <img class="imagetrendy" src="./../../../assets/web-developer-job1.jpeg" alt="web-developer_image">
  <h2 class="header-content1"> Web Developer</h2>
  <div class="headerinfo1">
    <p>Most of the time, web developers work in an office.
      Web developers build the backbone of websites. Employers often require candidates to have a bachelor’s degree in
      computer science, programming,
      informational technology, or another relevant fields. However, some companies will accept candidates with enough
      years of experience in lieu of bachelor's degree requirements.
    </p>
    <ul>
      <li>Test and document software for web sites.</li>
      <li>Work with designers and content producers.</li>
      <li>Write, modify, and debug software for web sites.</li>
      <li> Write code to generate web pages, access databases and business logic servers.</li>
    </ul>
  </div>


</div>

<div class="headertrending1">
  <div class="jobinfo1">
    <img class="imagetrendy" src="./../../../assets/physical therapist aid.png" alt="physical therapist aide_image">
    <h2 class="header-content2"> Physical Therapy Aide</h2>
    <div class="headerinfo2">
      <p>Physical therapy aides are members of physical therapy support teams.
        Working under the supervision of physical therapists and physical therapist assistants, P.T. aides perform
        nonmedical tasks,
        such as setting up and cleaning treatment rooms and transporting patients to different areas of a health care
        facility.
      </p>
      <ul>
        <li>Assist with patient intake</li>
        <li>Preparation of equipment</li>
        <li>Preparing hot and cold packs</li>
        <li>Observing patients</li>
        <li>Documenting patients' responses and progress</li>
      </ul>
    </div>
  </div>
</div>

<div class="jobinfo2">
  <img class="imagetrendy" src="./../../../assets/financial advisors.jpg" alt="financial advisor_image">
  <h2 class="header-content1"> Financial Advisor</h2>
  <div class="headerinfo1">
    <p>A financial advisor is your financial planning partner.
      Let's say you want to retire in 20 years or send your child to a private university in 10 years.
      To accomplish your goals, you may need a skilled professional with the right licenses to help make these plans a
      reality;
      this is where a financial advisor comes in.
      <ul>
        <li>responsible for more than just executing trades in the market </li>
        <li>construct personalized financial plans to achieve the financial goals.</li>
        <li>These plans include also savings, budget, insurance, and tax strategies.</li>
        <li> check in with their clients current situation and future goals and plan accordingly.</li>
      </ul>
  </div>
</div>
