.box{
  margin: 0 auto;
}

.card{
  width: 1000px;
  height: 200px;
  position: center;
  display: inline-block;
  border-radius: 10px;
  padding: 30px 200px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;

}
