<div class="col">
  <div class="card">
    <h5>Physical therapy aide</h5>
    <p>Physical therapy (PT) aides are responsible for setting up equipment and maintaining
      a clean area for patient treatments and exercises. PT aides are also responsible for:</p>
  </div>
  <div class="card">
    <h5>Physical therapy aide</h5>
    <p>Physical therapy (PT) aides are responsible for setting up equipment and maintaining
      a clean area for patient treatments and exercises. PT aides are also responsible for:</p>
  </div>
  <div class="card">
    <h5>Physical therapy aide</h5>
    <p>Physical therapy (PT) aides are responsible for setting up equipment and maintaining
      a clean area for patient treatments and exercises. PT aides are also responsible for:</p>
  </div>
  <div class="card">
    <h5>Physical therapy aide</h5>
    <p>Physical therapy (PT) aides are responsible for setting up equipment and maintaining
      a clean area for patient treatments and exercises. PT aides are also responsible for:</p>
  </div>

</div>
