.headerinfo {
  color: white;
  margin-left: 900px;
  margin-top: 60px;
  padding: 10px 10px;

}

.header-content {
  color: white;
  margin-left: 1100px;
  margin-top: -300px;
  padding: 0px 100px;
}

.imagetrendy {
  margin-top: 110px;
  margin-left: 400px;
  height: 35vh;
  border-radius: 10px;
}

.headertrending {
  background-color: #24292f;
  width: 100%;
  height: 500px;
}

.trendingjobs {
  margin-top: 150px;
  text-align: center;

}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5rem;
}

.box-info {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding-top: 100px;
}

.box1 {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: linear-gradient(66.26deg, #4e5864 -5.22%, #505d6e 46.12%, #5f6b7a 99.41%);
  float: left;
  margin: 15px;
  margin-top: 150px;
  margin-left: 360px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5;
}

.box2 {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: linear-gradient(66.26deg, #4e5864 -5.22%, #505d6e 46.12%, #5f6b7a 99.41%);
  float: left;
  margin: 15px;
  margin-top: 100px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5;
}

.box3 {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: linear-gradient(66.26deg, #4e5864 -5.22%, #505d6e 46.12%, #5f6b7a 99.41%);
  float: left;
  margin: 15px;
  margin-top: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5;
}

.box1:hover {
  transform: translateY(-10px);
}

.box2:hover {
  transform: translateY(-10px);
}

.box3:hover {
  transform: translateY(-10px);
}

h5 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

.header-content1 {
  color: black;
  margin-left: -200px;
  margin-top: -300px;

}

.headerinfo1 {
  color: black;
  margin-left: -400px;
  margin-top: 50px;
  padding-right: 900px;
}

.jobinfo {

  color: black;
  margin-left: 700px;
  margin-top: 650px;
}

.jobinfo1 {

  color: black;
  margin-left: -90px;
  margin-top: 150px;
}

.headertrending1 {
  background-color: rgb(224, 220, 220);
  width: 100%;
  height: 600px;
}

.header-content2 {
  color: black;
  margin-left: 1200px;
  margin-top: -300px;
}

.headerinfo2 {
  color: black;
  margin-left: 1000px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 200px;
  ;
}

.jobinfo2 {

  color: black;
  margin-left: 650px;
  margin-top: 50px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  ;
}
